<div class='custom-header'>
  <button type="button" class="btn btn-lg btn-primary" ng-click='goToIndex()'>Back to All Items</button>
  <div class="page-header">
    <h1>Batch {{ batchId }} <small> {{ getBatchStatus(batchId) }} </small></h1>
  </div>
  <button type="button" class="btn btn-lg btn-primary" ng-click="createNewBatch()">New Batch</button>
  <div class="dropdown">
      <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
      <ul class="dropdown-menu" role="menu">
          <li><a class="dropdown-item" ng-csv='itemsInBatch(batchId)' filename="test.csv">Export CSV</a></li>
          <li><a ng-click='submitBatch(batchId)' class="dropdown-item">Submit Batch</a></li>
      </ul>
  </div>
</div>



<input ng-model="itemToAdd" type="text" class="form-control" placeholder="Add Item to Batch {{ batchId}}...">
<button type="button" class="btn btn-primary" ng-click='clearanceItem(itemToAdd,batchId)'>Add</button>
<table class='table table-striped'>
  <thead>
    <tr>
      <th ng-repeat = "(key,value) in items[0]" ng-click="sortGroup(key)" style="color:{{sortSelect == key ? 'red' : 'black'}}"> {{ key }}</th>
      <th>Delete From Batch</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in items | orderBy: sortSelect | filter:{ 'clearance_batch_id': batchId }">
        <td ng-repeat="value in item">
          {{ value }}
        </td>
        <td><button ng-click="unClearanceItem(item.id)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
    </tr>
  </tbody>
</table>
